@model midterm_project.Models.Fish

@{
    ViewData["Title"] = "New Fish";
}

<form asp-controller="Pet" asp-action="Create" method="post">
    <h1 class="display-4 text-center mb-5">Create New Fish</h1>

    @await Html.PartialAsync("_petInput", Model)

    <input type="submit" class="btn btn-sm btn-primary float-end" value="Save">
</form>

<a class="btn btn-sm btn-light" asp-controller="Pet" asp-action="List">Back</a>