html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: burlywood;
}

.fish-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fish-card {
  flex: 1;
  margin: 10px;
  padding: 10px;
  color:white;
  border: 1px solid black;
  text-align: center;
  background-color: grey;
}

.btn-custom {
  background-color: black; 
  color: #fff; 
  
}

.btn-custom2 {
  background-color: white; 
  color: black; 
  
}

h1 {
  font: 12em sans-serif;
  font-weight: bolder;
}